html,
body {
  padding: 0;
  margin: 0;
  font-family:IBMPlexSans, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-image: url("/assets/backgroundCoffee.jpg");
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat ;
    color: #373b64;
    /* height: 100vh; */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0px;
}
:root{
  --text-purple: rgba(67,56,202,1);
  --text-purple-dark: rgba(79,70,229,1);
  --text-black: rgba(17,24,29,1);
  --text-white-100: rgba(229,231,235,1)
}

